<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="libbinder-go-aidl-java-server">
        <service
            android:name=".PlaceholderService"
            android:exported="false" />
    </application>
</manifest>
